:root {
    --primary-color: #0f0f0f;
    --secondary-color: #f8f9fa;
    --warning-color: #E0B253;
    --danger-color: #dc3545;
    --dark-color: #0c0c0c;
    --info-color: #a6a0a045;
    /*
    --dark-color: #343a40;
    --light-color: #ffffff;
    --success-color: #28a745;
    
    --info-color: #17a2b8;
    */
}
body {

    min-height: 100vh;
    background: #fff;
    font-size: 14px;
    color: #000;
    background-color: #f80d0d;
    margin: 0;
    padding: 0;
}







.contenedor-cajas{
    padding: 2rem; /*borde de toda la caja*/
    border-radius: 10px;
    margin-top: 3rem;
}
.encabezado {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
.encabezado h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
.swiper-container {
    padding-top: 50px; /*para el espacio entre las cajas*/
    width: 100%;
    padding-bottom: 50px;
}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
}
  
.picture {
    width: 320px;
    height: 320px;
    overflow: hidden;
}
    
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.detail {
    padding: 25px 20px;
    font-weight: 600;
    text-align: center;
}
    
.detail h3 {
    margin: 0;
    font-size: 20px;
}
      
.detail span {
    display: block;
    font-size: 16px;
    color: #f44336;
}

/*estilos cajas*/
.caja-estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}
#estilo{
    border: 2px  solid var(--secondary-color);
    background-color: var(--secondary-color);
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#estilo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*coleccion*/
.caja-coleccion{
    display: flex;
    justify-content: center;
}
#coleccion{
    border: 2px  solid var(--secondary-color);
    background-color: var(--secondary-color);
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#coleccion a{
    font-size: 10rem;
    text-decoration: none;
    color: var(--primary-color);
}




/*

.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
}


.caja{
    position: static;
    background-color: aliceblue;
    width: 200px;
    right: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caja img{
    width: 150px;
    right: 150px;
    border-radius: 10%;
    object-fit: cover;
}
#linea-1{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
}
#linea-1 .caja{
    width: 200px;
    right: 200px;
    border-radius: 10px;
    align-items: flex-start;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    display: flex;
}
#linea-2{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
}
#linea-2 .caja{
    width: 200px;
    right: 200px;
    border-radius: 10px;
    align-items: flex-start;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    display: flex;
}
#linea-3{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5rem;
}
#linea-3 .caja{
    width: 200px;
    right: 200px;
    border-radius: 10px;
    align-items: flex-start;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    display: flex;
}

.look-header{
    text-align: center;
    width: 50vw;
    height: auto;
}
@media(max-midth:1024px){
    .caja{
        width: 180px;
        right: 180px;
        
    }
}
@media(max-midth:768px){
    .galeria{
        gap: 1rem;
    }
    .caja{
        width: 150px;
        right: 150px;
    }
    .caja img{
        width: 120px;
        right: 120px;
    }
}
@media(max-midth:480px){
    .caja{
        width: 100%;
        right: 200px;
        max-width: 200px;
    }
}
