@media (min-width: 1024px) {
    #menu {
        position: static; 
        height: auto;
        transform: translateX(0%); 
        display: flex; 
        justify-content: center; 
        background: none; 
    }
    #menu a {
        display: inline-block; 
        text-decoration: none;
        padding: 15px 20px;
        border: none; 
        color: white; 
    }
    #menu a:hover {
        background: rgba(255, 255, 255, 0.2); 
    }

    #menu ul {
        display: flex; 
        gap: 10px; 
        list-style: none; 
        padding: 0;
        margin: 0;
    }

    #menu ul li {
        position: relative;
    }

    #menu ul li ul {
        position: absolute;
        top: 100%; 
        left: 0;
        display: none;
        background: #600;
        border: 1px solid #fff;
        z-index: 999;
    }
    #menu ul li:hover ul {
        display: block;
    }
    header label {
        display: none;
    }
}
