@import url(./menu.css);
@import url(./inventario.css);
@import url(./registrar.css);
@import url(./editPagina.css);
@import url(./gesUsuario.css);
@import url(./chat.css);
@import url(./pedidos.css);
@import url(./historial.css);
@import url(./devoluciones.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:  #E0B253;
}