/* Estilo General para el Formulario */
nav.gestion {
    margin-left: 20%; /* No se cambia */
    padding: 20px;
    width: calc(100% - 270px);
}

/* Formulario */
.formulario {
    background-color: #FAF9F6; /* Blanco roto */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Título del Formulario */
.formulario h1 {
    text-align: center;
    color: #0F0F0F; /* Color oscuro */
}

/* Estilos de los Campos de Entrada */
.formulario div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #e0b253;
    font-size: 16px;
    box-sizing: border-box;
}

textarea.descripcion {
    height: 80px;
    resize: none;
}

select {
    background-color: #fff;
}

/* Estilo de Botones */
button {
    background-color: #E0B253; /* Dorado */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #C89A44; /* Dorado más oscuro */
    transform: scale(1.05);
}

/* Sección de Botones de Guardado */
.guardarB {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 5px;
}

/* Estilos para los Inputs de Archivos */
.botonArchivo {
    display: inline-block;
    background-color: #0F0F0F;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* Estilos para Checkbox */
.checkbox-container {
    margin-top: 20px;
}

.checkbox-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.checkbox-number,
.checkbox-color {
    font-weight: bold;
}

.number-input {
    width: 100px;
    padding: 6px;
}

/* Botón de Guardado Final */
.guardar {
    text-align: center;
    margin-top: 30px;
}

.guardar button {
    padding: 12px 30px;
    font-size: 16px;
}
